# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# picture
*.jpg
*.png
*.gif
*.jpeg

# saved weights
*.h5

# spyder project
.spyproject/

# matlab
*.tif
*.mat
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1-1-0-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/总数据.rar
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1-0-50
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1-100-150
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1-150-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model1-50-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model10-0-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model10-1-0-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model10-1-100-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model10-2-0-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model10-3-0-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model2
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model2 - 副本 (5)
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model2 - 副本 (6)
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model3
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model4
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model5
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model6
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model6-0-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model7
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model7-0-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model8
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model8-0-300
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model9
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/model9-0-100
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict/sadfasf
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model1-0-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model1-200-400
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model1-400-600
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model10-0-200
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model10-200-400
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model10-400-600
python_project/Benign_and_malignant_detection_of_thyroid_nodules/trainHistoryDict-dice/model2 - 副本 (2)
python_project/Benign_and_malignant_detection_of_thyroid_nodules/总数据/原始数据.rar
